[defaults]
collections_paths = ./collections
stdout_callback = yaml
bin_ansible_callbacks = True
[inventory]
enable_plugins = netbox.netbox.nb_inventory, host_list, script, auto, yaml, ini, tomcl
